@use "../../../styles/utils/variables" as *;
@use "../../../styles/utils/mixins" as *;

.avatar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--primary-color);
  color: var(--white);
  font-weight: $font-weight-medium;
  flex-shrink: 0;

  // Size variants
  &--sm {
    width: 32px;
    height: 32px;
    font-size: $font-size-xs;
  }

  &--md {
    width: 40px;
    height: 40px;
    font-size: $font-size-sm;
  }

  &--lg {
    width: 48px;
    height: 48px;
    font-size: $font-size-base;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__fallback {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    user-select: none;
  }
}
