@use "../styles/utils/variables" as *;
@use "../styles/utils/mixins" as *;

.header {
	width: 100%;
	height: 60px;
	padding: 0 $spacing-lg;
	display: flex;
	align-items: center;
	justify-content: space-between;

	&__title {
		font-size: $font-size-xl;
		font-weight: $font-weight-bold;
		color: var(--text-primary);
		margin: 0;
	}

	&__center {
		width: 1200px;
	}

	&__welcome {
		font-size: $font-size-base;
		color: var(--text-secondary);
		margin: 0;
	}

	&__username {
		color: var(--text-primary);
		font-weight: $font-weight-semibold;
	}
}
