@use "../styles/utils/variables" as *;
@use "../styles/utils/mixins" as *;

// Base UI Portal Support
// Creates a separate stacking context so popups always appear above page contents
.root {
	isolation: isolate;
}

.layout {
	position: relative;
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr;
	overflow: hidden;

	&__main {
		grid-area: 1 / 1 / 2 / 3;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}
}
