.logo-wrapper {
	grid-area: 1 / 1 / 2 / 2;
	justify-self: center;
	width: 56px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 32px;
	color: var(--text-primary, #fff);
}

.logo {
	display: block;
	width: 40px;
	height: 40px;
	fill: currentColor;
}
