@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.dashboard {
	position: relative;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(6, 1fr);
  background-color: $black;

	&__title {
		font-size: $font-size-xxl;
		font-weight: $font-weight-bold;
		color: $gray-900;
		grid-column: 1 / 5;
		grid-row: 1 / 2;
		align-self: center;
	}

	&__clock {
		grid-column: 5 / 7;
		grid-row: 1 / 2;
		justify-self: end;
		align-self: center;
	}

	&__calendar {
		grid-column: 2 / 6;
		grid-row: 2 / 6;
		min-height: 0;
		min-width: 0;
		overflow: auto;
	}
}
