@use "../utils/variables" as *;

.dashboard {
	grid-area: 1 / 1 / 2 / 2;
	border-radius: .75rem;
	position: relative;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: auto 1fr auto;
	background-color: var(--bg-tertiary);
}

.dashboard__actions {
	display: flex;
	justify-content: flex-end;
	gap: $spacing-sm;
	padding: 0 $spacing-lg $spacing-md;
}
