@use "../utils/variables" as *;

.dashboard {
	position: relative;
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;
	background-color: var(--bg-tertiary);

	&.__calendar-wrapper{
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.dashboard__actions {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: $spacing-sm;
	padding: $spacing-md $spacing-lg;
}