@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.dashboard {
  position: relative;
  background-color: $black;

  &__title {
    font-size: $font-size-xxl;
    font-weight: $font-weight-bold;
    color: $gray-900;
  }

  &__clock {
    position: absolute;
    top: 2.25rem;
    right: 3.5rem;
  }
}
