@use "../../styles/utils/variables" as *;
@use "../../styles/utils/mixins" as *;

.calendar-week {
	width: 100%;
	display: grid;
	grid-template-columns: 60px repeat(7, 1fr);
	grid-auto-rows: 1fr;
	align-items: stretch;

	&__hours {
		display: flex;
		flex-direction: column;
		width: 60px;
		border-right: 2px solid $gray-300;
		height: 100%;
	}

	&__hours-header {
		height: 60px;
		background: $gray-100;
	}

	&__hours-list {
		flex: 1;
		display: grid;
		grid-template-columns: 1fr;
		// grid-template-rows set via inline style
		position: relative;
	}

	&__hour-label {
		// Grid row set via inline style
		display: flex;
		align-items: center;
		justify-content: flex-end;
		padding-right: $spacing-xs;
		font-size: $font-size-xs;
		color: $gray-600;
		background: $gray-100;
		border-right: 1px solid $gray-200;

		// Only show labels on the hour (empty labels will be blank)
		min-height: 0;

		&--non-working {
			color: $gray-500;
			font-style: italic;
		}
	}

	&__days {
		flex: 1;
		display: grid;
		grid-template-columns: repeat(7, 1fr);
	}

	// Ensure each rendered Day fills the grid cell
	> .calendar-day {
		height: 100%;
	}
}
